// primary colors
$clr-dark-cyan: hsl(158, 36%, 37%);
$clr-cream: hsl(30, 38%, 92%);

// Secondary colors
$clr-darkblue: hsl(212, 21%, 14%);
$clr-grayish-blue: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);
